# Miscellaneous
*.class
*.log
*.pyc
*.swp
*.env
env/
api-keys.json
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
.sentry-native/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/android/app/.cxx

# Local virtual environment for content tool
.venv-content-tool/

# Local OCR training artifacts and models for content tool
scripts/content_tool/models/ocr/**/*.mlmodel
scripts/content_tool/models/ocr/datasets/
scripts/content_tool/models/ocr/**/model_state.json
scripts/content_tool/models/ocr/**/last_training_report.json

sentry.properties
sentry.read
