[Desktop Entry]
Version=1.0.3.112
Type=Application
Name=Revelation
Comment=Revelation Study app
Exec=revelation-x
Icon=${SNAP}/meta/gui/revelation.png
Terminal=false
SingleMainWindow=true;
Categories=Education;Spirituality;
