[Desktop Entry]
Version=1.0.4.115
Type=Application
Name=Revelation
Comment=Revelation Study app
Exec=revelation-x
Icon=${SNAP}/meta/gui/revelation-x.png
Terminal=false
SingleMainWindow=true;
Categories=Education;Spirituality;
